# Develop
*.vscode*
*.ipynb_checkpoints*
*.spyproject*
*dask-worker-space*

*test*

# Backups
*backup*

# Cache
*__pycache__*
*.pyc

# Model runs
logs
*.log
*nohup.out

# Config
settings.sh

# Tests
functions/tests
*/static*.png

# Bathymetry fields
*/bathymetry/*.nc
*.xyb

# Pressure fields
*/pressure/*.nc
*.amp

# Observation fields
*.pli
*.xyn

# Model outputs
*output*
*.cache
*.dia
