
*.vscode*
*.ipynb_checkpoints*
*.spyproject*
*backup*
*output*
*test*
*dask-worker-space*

*.pyc
*.cache
*.dia
*.log
*nohup.out

settings.sh
functions/*.amp
functions/*.xyb
functions/fig_*
functions/*.xyn
functions/*.pli

*/bathymetry/*.nc
*/pressure/*.nc

*.amp
