
*.vscode*
*.ipynb_checkpoints*
*.spyproject*
*backup*
*output*
*test*
*dask-worker-space*

*.pyc
*.cache
*.dia

settings.sh
functions/*.amp
functions/*.xyb
functions/observations.xyn
functions/observations_crs.pli
